body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header img {
    height: 50px;
    vertical-align: middle;
}
.header h1 {
    margin: 0;
    flex-grow: 1;
    text-align: left;
    padding-left: 20px;
}
.login-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    top: 15px;
    right: 20px;
}
.login-btn:hover {
    background-color: #45a049;
}
.content-container {
    display: flex;
    flex-grow: 1;
}
.nav {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
.nav ul {
    list-style-type: none;
    padding: 0;
}
.nav ul li {
    margin: 15px 0;
}
.nav ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}
.nav ul li a:hover {
    background-color: #ddd;
    padding-left: 5px;
}
.main-content {
    flex-grow: 1;
    padding: 20px;
}
.description {
    margin: 20px 0;
}
.form-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-container input[type="submit"]:hover {
    background-color: #45a049;
}

.form-container a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #4CAF50;
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}
